app/.externalNativeBuild
app/build
app/*.iml
.google
.gradle
.idea
*.iml
local.properties
.cxx/*
.cxx
**/libflycast.so
.DS_Store
/build
app/src/main/jniLibs/arm64-v8a/libppsspp_libretro_android.so

libPPSSPP/src/main/cpp/**
**/lib*_libretro_android.so
